---
---
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
//@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,800,900');


@import 'bootstrap';
//@import 'lib/_retina';

@import '_code';


footer {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    color: #888;
}
