---
---
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
//@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,800,900');


@import 'bootstrap';
//@import 'lib/_retina';

@import '_code';


footer {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    color: #888;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px;
}

.content-area {
  background: #efefef;
  padding-top: 100px;
  padding-bottom: 100px;
}
