---
layout: default
---

<h5>Publications</h5>
{% for item in site.data.resources.publications %}
  <div class="card">
    <div class="card-block">
      <a href="{{item.link}}" target="_blank"><strong>{{item.title}}</strong></a><br />
      {{item.description}}
    </div>
  </div>
{% endfor %}

<h5>Resources</h5>
{% for item in site.data.resources.resources %}
  <div class="card">
    <div class="card-block">
      <a href="{{item.link}}" target="_blank"><strong>{{item.title}}</strong></a><br />
      {{item.description}}
    </div>
  </div>
{% endfor %}


<h5>Organizations</h5>
{% for item in site.data.resources.organizations %}
  <div class="card">
    <div class="card-block">
      <a href="{{item.link}}" target="_blank"><strong>{{item.title}}</strong></a><br />
      {{item.description}}
    </div>
  </div>
{% endfor %}
