<div class="hero">
  <div class="container text-center">
      <div class="row justify-content-center">
          <div class="col-md-6 col-sm-8">
              <img class="img-fluid" src="assets/images/chai-combinator-logo-dribbble@2x.png" />
              <br />
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <p class="lead">Chai Combinator is a fun little group enabling local startups reach global success. Inspired by Y-Combinator, we are looking to re-create the magic of silicon valley right here in India.</p>
        </div>
      </div>
  </div>
</div>
